# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 250
trim_trailing_whitespace = true

[.bin/**]
max_line_length = 100

[*.{js,json}]
max_line_length = 100

[{config/config.js,modules/default/**}]
max_line_length = 250
